@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
	margin: :0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
 /*start header*/
.navbar{
	background: #000;
	padding: 1rem 8rem;
	z-index:9999 ;
}
.navbar.navbar-brand{
	font-size: 1.4rem;
	font-weight: 700;

}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	color: #fff;
	font-size: 1.1rem;
	padding: 0 0.8rem;

}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
	color:#00BF6D ;
}
#navbarSupportedContent button{
background:#00BF6D ;
font-weight: 600;
padding: 0.4rem 1.4rem;
border-radius: 30px;
}
#navbarSupportedContent button:hover{
	background: #FFF;

}

.mid{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
	text-align: center;

}
.mid video{
	width:100% ;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}
.hero{
	position: relative;

}
.mid .hero p{
	width: 55%;
	font-size: 1.3rem;
	letter-spacing:0.2px ;

}
.mid .hero a{
	background:#00BF6D ;
	font-weight: 600;
	padding: 0.6rem 1.5rem;
	border-radius: 30px;
	text-decoration:none ;
}
.mid.hero a:hover{
	background:#fff ;

}
/*End header*/
/*start about*/
#about{
	background:#000;


}

#about text{
	color: #00BF6D;
	display: flex;
	flex-direction:column ;
	justify-content:flex-start ;
	align-items: flex-start;
	margin: auto;


}
#about h5{
	color: #00BF6D;
	font-weight: 800;
	font-size:1rem ;
	letter-spacing: 1px;
}
#about h3{
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: 0.5px;


}
#about p{
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}
#about a{
	background:#00BF6D ;
	font-weight: 600;
	padding: 0.6rem 1.5rem;
	border-radius: 30px;
	text-decoration:none ;
}
#about a: hover{
	background: #fff;
}



/*end about*/
/*start discober*/


#Discover{
	background:#FFF;


}

#Discover text{
	color: #00BF6D;
	display: flex;
	flex-direction:column ;
	justify-content:flex-start ;
	align-items: flex-start;
	margin: auto;


}
#Discover h5{
	color: #00BF6D;
	font-weight: 800;
	font-size:1rem ;
	letter-spacing: 1px;
}
#Discover h3{
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: 0.5px;


}
#Discover p{
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}	

#Discover a{
	background:#00BF6D ;
	font-weight: 600;
	padding: 0.6rem 1.5rem;
	border-radius: 30px;
	text-decoration:none ;
}
#Discover a:hover{
	background: #00BF6D;
}




/*end discober*/

/* Start of services*/
#services{
	background: #fff;
}
#services .one{
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	border-radius: 10px;
}
#services a{
	background: #000;
	font-weight: 600;
	padding: 0.6rem 1.5rem;
	border-radius: 30px;
	text-decoration:none ;

}
#services a:hover{
	background: #00BF6D;
}

 /* end of services*/
